@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Page Home */
.img_index{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar{
  position: relative;
  padding: 25px 50px;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.logo span{
    color: #FFD32D;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{ /*  DOIT ETRE SUR LA PAGE ACTIVE */
  font-weight: normal;
  background-color: #FFD32D;  
  border-radius: 10px;
}
.icon{
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.container{
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  text-align: center;
  color: white;
  width: 550px;
  padding: .5rem;
}
.container_body{
  margin: 1.5rem 0 1.5rem 0;
}
.container h1{
  font-size: 30px;
}
.container h2{
  font-size: 26px;
}
.container_body p{
  font-size: 16px;
  line-height: 40px;
}
/* Page About us */
#container_accordeon{
    width: 1200px;
}
.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.accordion {
  background-color: #FFD32D;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 40px 40px 0 0;
}
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border-radius: 0 0 40px 40px;
  height: 280px;
  width: 250px;
}
.panel ul{
  color: #222;
}
.panel img{
  margin-bottom: .5rem;
}

/* Page Services */

.carousel_flex{
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 80px 0;
  overflow: hidden;
  max-width: 950px;
  width: 100%;
}
.carousel_flex .article_flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200%;
  transition: 1s;
}
.only_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.card_carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  text-align: center;
  padding: 1rem;
  color: white;
  width: 250px;
  height: 250px;
}
.card_carousel h1{
  font-size: 1.2rem;
}
.article_flex .only_card .card_carousel:hover{
  transform: translateY(-15px);
  transition: all 0.4s ease;
}
.carousel_flex .article_flex .only_card{
  flex-wrap: wrap;
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  background: #FFD32D;
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
  background: #FFD32D;
}
#two:checked ~ .article_flex{
  margin-left: -100%;
}
input[type="radio"]{
  display: none;
}



@media (max-width: 1200px) {
  .card_accordeon{
    margin-bottom: .5rem;
  }
  .flexbox{
    padding: .5rem;
  }
  .container{
    top: 53%;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
    z-index: 1;
}
.navbar .menu-list li{
    margin-top: 45px;
}
.navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .menu-list li a:hover{
    color: #FFD32D;
    background-color: unset;
  }
}
@media (max-width: 768px) {
  .article_flex .only_card .card_carousel{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
  .only_card{
    margin: 0 1.5rem 0 1.5rem;
  }
}
@media (max-width: 600px) {
    .container{
      width: 70%;
      height: auto;
    }
    .container_body p{
        line-height: normal;
    }
    .navbar{
        padding: 25px 20px;
    }
    #container_accordeon{
      width: 90%;
    }
    .card_accordeon{
      width: 100%;
    }
    .panel{
      width: 100%;
      height: 100px;
    }
    .panel img{
      display: none;
    }
    .panel ul{
    margin-top: 0.5rem;
    }
    .article_flex .only_card .card_carousel{
      width: 100%;
      height: 30%;
    }
    .carousel_flex{
      padding: 0;
    }
  }
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
  .container{
    width: 80%;
    height: auto;
  }
  .container h1 h2{
      font-size: 16px;
  }
}